<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.randomapps.pokemonactivity" >

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/Theme.Poketrivia" >
        <activity
            android:name="com.randomapps.pokemonactivity.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.randomapps.pokemonactivity.TriviaActivity"
            android:label="@string/title_activity_pokedex" >
        </activity>
        <activity
            android:name="com.randomapps.pokemonactivity.PokedexActivity"
            android:label="@string/title_activity_pokedex" >
        </activity>
    </application>

</manifest>
